:root{
    --background-color: #141517;
    --second-background-color: #1C1C22;
    --primary-color: #667ffc;
    --primary-dark-color: #405BDE;
    --primary-soft-color: #98aaff;
    --secondary-color: #E0A8F0;
    --secondary-dark-color: #bd3be0;
    --title-color: #ffffff;
    --font-color: #eaebf1;

    --text-size: 18px;
    --subtitle-size: 24px;

    --max-size: 1000px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
}

.loader{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader__spinner{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 5px solid #98aaff;
    border-left-color: transparent;
    
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0%{
        transform:  rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}


.container{
    background-color: #141517;
    color: var(--font-color);
}
.subtitle{
    font-size: var(--subtitle-size);
    color: white;
}

.navbar{
    width: 100%;
    position: fixed;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
    background-color: var(--background-color);
    z-index: 2;
}

.navbar__container{
    flex: 1;
    max-width: var(--max-size);
    margin: auto;
    padding: 10px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.main-content{
    max-width: var(--max-size);
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.footer{
    margin-top: 80px;
    background-color: var(--second-background-color);
}
.footer__body{
    max-width: var(--max-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px;

}


.navbarMenu{
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    align-items: center;
}
.buttonMenu{
    border-radius: 50%;
    border: none;
    font-size: 20px;
    display: none;
}

.navbar__title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 900;
    position: relative;
}
.navbar__title span:nth-child(2){
    color: var(--primary-soft-color);
    font-family: monospace;
    position: relative;
}
.navbar__title span:nth-child(2)::before{
    position: absolute;
    top: -18px;
    left: -6px;
    content: '.';
    font-size: 50px;
}

.navbarMenu__item{
    text-decoration: none;
    color: var(--font-color);
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    transition: .3s ease-in-out;
    position: relative;
}
.navbarMenu__item:hover{
    background-color: var(--primary-dark-color);
}