
@media (max-width: 900px) {
    
    .home-section{
        justify-content: start;
    }
    .home__myName{
        font-size: 28px;
    }
    .home__rolDev{
        font-size: 40px;
    }
}
@media (max-width: 768px) {
    .home-section{
        display: flex;
        gap: 24px;
    }

    .navbar__title{
        font-size: 28px;
    }
    .navbarMenu{
        gap: 12px;
    }
    .navbarMenu__item{
        font-size: 14px;
        padding: 8px;
    }
    
    
    .text-center{
        text-align: center;
    }
    
    .home-section{
        flex-direction: column;
    }
    .home__body{
        align-items: center;
        gap: 16px;
        text-align: center;
    }


    .projectCard{
        display: grid;
        grid-template-columns: 300px 1fr;
    }
    .projectCard__title{
        font-size: 18px;
    }
    .projectCard__description{
        font-size: var(--text-size);
        line-height: 24px;
    }
}

@media (max-width: 664px){
    .buttonMenu{
        display: block;
        z-index: 4;
    }

    /*  */
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        background-color: var(--primary-soft-color); 
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: var(--primary-soft-color);
    }
    /*  */

    .navbar{
        padding: 0px;
        height: auto;
    }
    .navbar__container{
        background-color: var(--background-color);
        height: 71px;
        align-items: center;
    }
    .navbarMenu{
        position: fixed;
        top:0;
        right: 0;
        left: 0;
        bottom: 0;
        gap: 0px;
        flex-direction: column;
        background-color: #121214;
        padding: 100px 0px;
        transition: .3s ease;
        transform: translate(100%, 0);
    }
    
    .navbarMenu--show{
        transform: translate(0, 0);
    }
   
    .navbarMenu__item{
        width: 100%;
        border-radius: 0px;
        padding: 28px;
        font-size: 18px;
    }


    .subtitle{
        font-size: 20px;
    }
    .aboutme__text{
        font-size: 16px;
    }

    .projectCard{
        grid-template-columns: 1fr;
        grid-template-rows: 250px 1fr;
    }
    .projectCard__buttons{
        justify-content: space-between;
    }

    .projectCard__description{
        font-size: 16px;
    }

}

@media (max-width: 480px) {
    .home-section{
        padding: 120px 0px;
    }
    .projectCard{
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr;
    }
    .footer__body{
        gap: 24px;
    }
    .buttons-group{
        gap: 16px
    }
}